@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
}
.navbar {
    border: none;
    border-radius: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}
.videobg {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.pcontainer {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}
.header-content {
    z-index:2;
}
.header-content h1 {
    font-size: 2rem;
    margin-bottom: 15px;
}
.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video {
    min-height: 100%;
    min-width: 100%;
}

.overlay-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #001f3f;
    z-index: 1;
    opacity: 0.70;
    animation-delay: 1s;
    animation-duration: 1s;
}

.section{
    padding:20px 0;
}

.section-b{
    background:#333;
    color:#fff;
}

@media(max-width:960px){
    .content{
        padding-right:3rem;
        padding-left:3rem;
    }
}


#newsletter {
    color: #ffffff;
}
.card {
    width: 550px;
    min-height: 100px;
    padding: 20px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.9);
    position: relative;
    overflow: hidden;
    z-index: 3;
}


.card:after {
    content: '';
    display: block;
    width: 180px;
    height: 400px;
    background: #2e3338;
    top: -60px;
    left: -50px;
    position: absolute;
    -ms-transform: rotate(-35deg); /* IE 9 */
    -webkit-transform: rotate(-35deg); /* Safari */
    transform: rotate(-35deg);
    animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}

.badgescard {
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #5A5A5A;
    color:#fff;
    width: 550px;
    box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 3;
    left: 10px;
    bottom: 10px;
    animation: animainfos 0.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s forwards;
}

.badgescard span {
    font-size: 1.6em;
    margin: 0 6px;
    opacity: 0.6;
}

.firstinfo {
    flex-direction: row;
    z-index: 2;
    position: relative;
}

.firstinfo img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 20px;
    float: left;
}

.firstinfo .profileinfo {
    padding: 0 20px;
}

.firstinfo .profileinfo h1 {
    font-size: 1.8rem;
    color: #222426;
}

.firstinfo .profileinfo h3 {
    font-size: 1.1rem;
    color: #00bcd4;
    font-style: italic;
}

.firstinfo .profileinfo p.bio {
    padding: 10px 0;
    color: #5A5A5A;
    line-height: 1.2;
    font-style: initial;
}
footer {
    padding: 2rem;
    background-color: black;
    min-height: 5rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer img {
    border: none;
    border-radius: 5px;
}