.gallery {
    display: grid;
}

#current {
    width: 100%;
}

.imgs {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.imgs img {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}
#grid {
    display: grid;
    width: 100%;
    grid-template-columns: 50px 1fr;
}

#areaA {
    background-color: lime;
}

#areaB {
    background-color: yellow;
}
