<nav class="navbar navbar-toggleable-md navbar-dark bg-faded">
  <button class="navbar-toggler navbar-toggler-right" id="navHamburger" type="button"
          data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{{ path_for('home') }}">
    <!-- Xbox B icon by Icons8 -->
    <img class="icon icons8-Xbox-B" width="200" height="90" alt="Brian Clincy is here"
         src="{{ asset('images/bcnobg.svg') }}">
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/Community" id="communityItem" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Community
        </a>
        <div class="dropdown-menu" aria-labelledby="community">
          <a class="dropdown-item" href="/community/ACHIEVE">ACHIEVE</a>
          <a class="dropdown-item" href="/community/Love_Community_Garden">Love Community Garden</a>
          <a class="dropdown-item" href="/community/Muskegon_area_sports">Muskegon area Sports</a>
          <a class="dropdown-item" href="/community/Muskegon_TEDx">Muskegon TEDx</a>
          <a class="dropdown-item" href="/community/Yuba_Love">Yuba Love</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gallary">Gallary</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/services" id="servicesItem" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/services/Coaching">Basketball Coach</a>
          <a class="dropdown-item" href="/services/community_engagement">Community Engagements</a>
          <a class="dropdown-item" href="/services/Design">Graphic Designer</a>
          <a class="dropdown-item" href="/services/Photography">Photographer</a>
          <a class="dropdown-item" href="/services/Web">Web Development</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>