{% extends "layout.html.twig" %}

{% block content %}
    <h1>Clincy's Advisory Board</h1>
    <p>I know some pretty awesome people and I've never thought of them as a resource. As I've had many conversations
        that have resulted in some great opportunities. In my older age, my wisdom has materialize that I need to form
        a team. Not just any team, I need an all star team that I can call on to amplify my greatness. This invitation is
        my attempt at growth, and it's difficult for me, because it takes me out of the my childhood lessons of trust
        people with my life.
    </p>
{% endblock %}