{% extends "layout.html.twig" %}
{% block content %}

    <img src="/images/seeMySuccess.jpg" width="756" height="351" alt="I believe in the future" />
    <h1>My Goals</h1>
    <p>Brian Clincy, I'm a work in process. Everyday my goal is to be collectively be better than I was yesterday. Today at
    the intersection of knowledge and wisdom meet is where you'll find me. As I share my journey and status of everyday
    lessons my dream is to help other avoid my pitfalls, and connect my history with my future.</p>
<p><a name="continue"></a>
    See my Granny (Beatrice Pascal) always had goals, and you'd often see them written down around the house. I didn't
    know how much of a hustler my granny was, but she was a dreamer. She was a person who bought real estate, and other
    ways of making her dreams reality. She was my hero, and her motivation and had a lasting impact on me. So I developed
    goals like my granny. The financial goals wasn't the only goals my granny had, she wanted to make sure her kids had
    the tools they needed to make it. Out of this I learned how taking care of family is priority.
</p>
<p>I started a podcast called NNUtS as in Nothing New Under the Sun, because I thought about all the things my grandmother
    had told me. All the game my great cousin Sonny-Man also gave me. Those old sayings, like "See a fool leave a fool,
    or you might end up acting like a fool!" are classic and need to be shared. Nothing new under the sun is tribute to
    how all things are 'New' has already been done before (You aint doing nothing but the funky chicken). It is my hope
    that I get to share these with my future generations, so they can see what was passed down to me, for them.
</p>
<p>Part of my work in progress is to leave the world a better place than what I found it. I want to be a net positive for
    the future. My goal is to be as efficient as possible. I want to use less gasoline, least possible petroleum based
    products and appreciate the earth resources
</p>
{% endblock %}